@import '@/styles/variables';

.globe {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  background: rgba($color-bg, 0.5);
  backdrop-filter: blur(10px);

  canvas {
    width: 100% !important;
    height: 100% !important;
  }
}

