.hero {
  position: relative;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}

.content {
  position: relative;
  z-index: 10;
  text-align: center;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}

.title {
  font-size: 3rem;

  span {
    color: #3B82F6;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
}
