.hero {
  text-align: center;
  padding: 6rem 2rem;
}

.title {
  font-size: 3rem;
  color: #333;

  span {
    color: #0070f3;
  }
}

.subtitle {
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #555;
}
