@use '../styles/variables' as v;
@use '../styles/index';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600&family=Space+Grotesk:wght@400;700&display=swap');

:root {
  --yellow-500: #eab308;
  --red-500: #ef4444;
  --blue-500: #3b82f6;
  --cyan-500: #06b6d4;
  --violet-500: #8b5cf6;
}

html {
  scrollbar-width: thin;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

[data-theme='dark'] {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.15);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

html {
  scroll-behavior: smooth;
  font-family: v.$font-text;
  color: v.$color-text;
  background-color: v.$color-bg;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;

  ::selection {
    background-color: #1e40af;
    color: #fff;
    text-shadow: none;
  }
}

[data-theme='dark'] {
  html {
    ::selection {
      background-color: #1e3a8a;
      color: #fff;
    }
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: inherit;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-title;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

[vw-access-button] {
  transform: scale(0.85) !important;
  transform-origin: bottom right !important;
}
