@use "../styles/variables" as v;
@use "../styles/index";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:wght@400;600&family=Space+Grotesk:wght@400;700&display=swap");

/* Scrollbar semelhante a da Apple */
html {
  scrollbar-width: thin; /* Firefox */
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
    opacity: 1;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

[data-theme="dark"] {
  &::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.15);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.35);
  }
}

/* Tipografia & Layout */
html {
  scroll-behavior: smooth;
  font-family: v.$font-text; // fonte padrão do site (texto)
  color: v.$color-text;
  background-color: v.$color-bg;

  /* Selection customizada */
  ::selection {
    background-color: #1e40af; // azul escuro
    color: #fff;
    text-shadow: none;
  }
}

[data-theme="dark"] {
  html {
    ::selection {
      background-color: #1e3a8a; // azul ainda mais escuro para dark mode
      color: #fff;
    }
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-title; // títulos usam Space Grotesk
}
