.textHoverWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  box-sizing: border-box;
  
  svg {
    max-width: 100%;
    height: auto;
    display: block;
  }
}

