.typewriterCursor {
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s infinite;
  font-weight: 300;
  opacity: 1;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

