@use "../../styles/variables" as v;
@use "../../styles/mixins" as m;

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 0;
  color: rgba(255, 255, 255, 0.9);
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  overflow: hidden;
  height: clamp(13rem, 28rem, 35rem);
  letter-spacing: -0.1rem;

  @media (min-width: 1440px) {
    height: 24rem;
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    height: 18rem;
  }

  @include m.respond-below("md") {
    height: 16rem;
  }

  @media (max-width: 768px) {
    height: 14rem;
  }

  @include m.respond-below("sm") {
    height: clamp(10rem, 13rem, 16rem);
  }

  @media (max-width: 425px) {
    height: 12rem;
  }

  @media (max-width: 375px) {
    height: 11.5rem;
  }

  @media (max-width: 360px) {
    height: 11rem;
  }
}

.textHoverContainer {
  width: 100%;
  height: clamp(10rem, 16rem, 20rem);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  overflow: visible;

  svg {
    position: relative;
    top: clamp(1.5rem, 2.5rem, 3.5rem);
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 1440px) {
    height: 14rem;

    svg {
      top: 2.25rem;
    }
  }

  @media (min-width: 1024px) and (max-width: 1439px) {
    height: 11rem;

    svg {
      top: 1.85rem;
    }
  }

  @include m.respond-below("md") {
    height: 11rem;

    svg {
      top: 1.75rem;
    }
  }

  @media (max-width: 768px) {
    height: 10rem;

    svg {
      top: 1.65rem;
    }
  }

  @include m.respond-below("sm") {
    height: clamp(8rem, 10rem, 12rem);

    svg {
      top: clamp(1.25rem, 1.75rem, 2.25rem);
    }
  }

  @media (max-width: 425px) {
    height: 9rem;

    svg {
      top: 1.65rem;
    }
  }

  @media (max-width: 375px) {
    height: 8.5rem;

    svg {
      top: 1.5rem;
    }
  }

  @media (max-width: 360px) {
    height: 8rem;

    svg {
      top: 1.4rem;
    }
  }
}
