@use './variables' as v;

html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$color-bg;
  color: v.$color-text;
  line-height: 1.6;
  font-family: v.$font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: v.$font-title;
}