@use './variables' as v;

html {
  scroll-behavior: smooth;
}

body {
  background-color: v.$color-bg;
  color: v.$color-text;
  font-family: v.$font-main;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-bottom: 1rem;
  color: rgba(v.$color-text, 0.9);
}

a {
  color: v.$color-primary;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
