// Cores
$color-bg: #010101;
$color-text: #e4e4e4;

$color-primary: #0070f3;
$color-secondary: #ff4081;
$color-accent: #00c6ff;
$color-muted: #f5f5f5;

// Tipografia
$font-main: 'Inter', sans-serif;

// Sombras
$shadow-soft: 0 2px 8px rgba(0, 0, 0, 0.05);
$shadow-strong: 0 8px 20px rgba(0, 0, 0, 0.1);

// Transições
$transition-default: all 0.3s ease;
