@use '../../styles/variables' as v;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  position: relative;
  z-index: 10;
}
